h2{
    width: 50%;
    height: 40px;
    border:2px solid aqua;
    background-color: aquamarine;
}


.one{
    color: rgb(23, 91, 236);
}
.two{
   
    font-size: 30px;
}
.three{
    color:green;
}
.four{
    font-size: 30px;
    //color:aqua;
   
}

/*  data binding */

