<div class="header">
    <div routerLink="/"> Home page</div>
    <div routerLink="/about">About page</div>
    <div routerLink="/contact">Contact</div>
    <div routerLink="/service">Service</div>
    <div routerLink="/insta">Instalogo</div>
    <div routerLink="/login">Login</div>
    <div routerLink="/login1">Login1</div>
    <div routerLink="/animation">Animated</div>
    <div routerLink="/basicts">Basicts</div>
    <div routerLink="/ifelse">ifelse</div>
    <div routerLink="/ngstyle">Ngstyle</div>
    <div routerLink="/pipes">Pipes</div>
    <div routerLink="/navbar">Navbar</div>
    <div routerLink="/signupform">SignUpForm</div>
    <div routerLink="/trackvalidform">trackvalidform</div>
</div>
