
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="main-div">
    <div class="center_div">
        <div class="logo">
            <div class="login"><i class="fa-regular fa-user fa-3x" style="color: #000000;
            padding-left: 19px;
                padding-top: 20PX ;"> </i></div>

                <div  class="textbox">  
                    <i class="fa-solid fa-envelope " style="color: #080808">
                    <input type="text" placeholder="Email ID"></i>
               
                <br>
               <i class="fa-solid fa-key" style="color: #0e0d0e">
                <input type="password" placeholder="Password" ></i>
                    </div>
                <br>
                <p><label><input type="checkbox">Remember me </label>
                     <a href="#">Forgot Password?</a> </p>
                 
            
            <button type="submit">LOGIN</button>
        </div> 
        </div>
    </div>
