/*.bgimg{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    place-items: center;
}

.waviy{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: aliceblue;
}
 
.waviy span{
   font-family: 'Courier New', Courier, monospace;
   display:inline-block;
   text-transform: uppercase;
   animation: waviy 2s infinite;
   animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {
    0%{
        transform: translateY(0px)
    }
    40%{ 
        transform: translateY(-50px)

    }
    60%{
        transform: translateY(-80px);
        
    }

    100%{
        transform: translateY(-150px);
        opacity: 0.1;
    }
    
}*/

// div{
//     width: 300px;
//     height: 300px;
//     margin: 200px auto;
//     background: violet;
//     animation-name: ani;
//     animation-duration: 2s;
//     animation-iteration-count: 2;
// }

// @keyframes ani {
//     0%{
//         background:red;
//     }
//     30%{
//         background:rgb(229, 255, 0);
//     }
//     60%{
//         background:rgb(0, 225, 255);
//     }
//     100%{
//         background: green;
//     }
    
// }