<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="bgimg">
    <div class="text"> <i class="fa-solid fa-robot fa-1x" style="color: #ffffff;"></i>&nbsp; freepik</div>
    <div class="center-div">
        <div class="main-div" >
            <div class="waviy">
                <span style="--i:1">H</span>
                <span style="--i:2">A</span>
                <span style="--i:3">P</span>
                <span style="--i:4">P</span>
                <span style="--i:5">Y</span>
                     &nbsp;&nbsp;
                <span style="--i:6">B</span>
                <span style="--i:7">I</span>
                <span style="--i:8">R</span>
                <span style="--i:9">T</span>
                <span style="--i:10">H</span>
                <span style="--i:11">D</span>
                <span style="--i:12">A</span>
                <span style="--i:13">Y</span>
                <span style="--i:14">&#x2022;</span>
               </div>
    </div>
</div>
