
<!--<div>{{ email}}</div>

<div *ngIf="name">name is true</div>
<div class="normal-class">normal-class</div>
<div class="row {{email}}">variable class</div>

<div class="col {{name ? 'calss_true':'class_false'}}">class binding</div>
<div [class]="'row2'+email">data bind</div>

<button (click)="valueChange()">Click</button>-->


    <!-- <div class="main-div">
    <div class="box" [style]="'color:'+ color +';background-color:'+ bgColor +';'">{{ text}}</div>
     <button (click)="updateColor()">update color</button>
    </div>
     -->


     

     <div class="container-fluid">
      <h1>Bootcamp Enrollment Form</h1>
      <form #userForm="ngForm">
          {{ userForm.value | json}}
      
          <div class="from-group">
              <label>Name</label>
              <input type="text" class="form-control" name="userName" ngModel>
          </div>
  
          <div class="from-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" ngModel>
          </div>
  
          <div class="from-group">
              <label>Phone</label>
              <input type="tel" class="form-control" name="phone" ngModel>
          </div>
  
          <div class="from-group">
              <select class="custom-select" name="select" ngModeln>
                  <option selected >I am intrested</option>
                  <option *ngFor="let topic of topics" >{{topic}}</option>
              </select>
          </div>
  
          <div class="mb3">
              <label>Time preference</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" ngModel name="timePrefrance" value="morning">
                  <label class="form-check-label">Morning (9AM - 12AM)</label>
              </div>
  
              <div class="form-check">
                  <input class="form-check-input" type="radio" ngModel name="timePrefrance" value="evening">
                  <label class="form-check-label">Evening (5PM -8AM)</label>
              </div>
  
              <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" name="checkbox" ngModel >
                  <label class="form-check-label">
                Send me promotional offers
                  </label>
                </div>
                
                <button class="btn btn-primary" type="submit">Submit</button>
          </div>
      </form>
  </div>
  